
<%- include("partials/header"); -%>

    <div style="background-color:#95f597;color:black;padding:20px; border-radius:2%; margin-top: 100px;">
      <h1>Home</h1>
      <p style="font-weight:bold; font-family: 'Courier New', Courier, monospace; font-size: large;"> <%= startingContent %> </p>
    </div>
    


  <%  posts.forEach(function(post){ %>

    <div>
      <div  style="height: 250px; width:50%; background-color: aqua; margin:20px auto; justify-content: center; border: solid 10px #d49c02;">
        <h1 style="text-align: center; margin-top: 35px;"><%=post.title%></h1>
        <p style="text-align: center; margin: 5%; font-size: medium;">
        <%=post.content.substring(0, 100) + " ..."%>
        <a href="/posts/<%=post._id%>" style="display: block; text-align: center;">Read More</a>
        </p>
        
        
      </div>
    </div>




    <% }) %>

    <form action="/compose" class="inline" style="justify-content: center; margin-bottom: 30px;">
      <div class="text-center">
        <button class="btn btn-primary" style="margin: auto;">Add New Blog</button>
      </div>
        
      
    </form>

<%- include("partials/footer"); -%>
